<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <h2 class="navbar-brand h4 mb-0">APIs externes</h2>
        <button class="navbar-toggler" style="color:#FFF;">
            <span class="navbar-toggle-icon" style="color:#FFF;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/sirene">SIRENE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/sirene">BDM</a>
                </li>
                <!--Dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Données locales
                    </a>
                    <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                        <a class="dropdown-item" href="#">Recencement de la population</a>
                        <a class="dropdown-item" href="http://localhost:5000/filosofi">FiLoSoFi</a>
                        <a class="dropdown-item" href="http://localhost:5000/filosofizones">FiLoSoFi - Zones</a>
                        <a class="dropdown-item" href="http://localhost:5000/filosofideclarations">FiLoSoFi - Déclarations</a>
                        <a class="dropdown-item" href="http://localhost:5000/floresna17">Flores N17</a>
                        <a class="dropdown-item" href="http://localhost:5000/population">Population légale</a>
                        <a class="dropdown-item" href="#">Etat-Civil</a>
                        <a class="dropdown-item" href="#">Répertoire des Entreprises et des Etablissements</a>
                        <a class="dropdown-item" href="#">Tourisme</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/sirene">Métadonnées</a>
                </li>
            </ul>
        </div>
    </div>
</nav>