<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <h2 class="navbar-brand h4 mb-0">APIs externes</h2>
        <button class="navbar-toggler" style="color:#FFF;">
            <span class="navbar-toggle-icon" style="color:#FFF;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/metadonnees/concepts">Concepts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/sirene/sirene">SIRENE</a>
                </li>
                <!--Dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        BDM
                    </a>
                    <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:5000/bdm/climataffaires">Climat des affaires</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">Balances de paiements</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">Chômage Trim National</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">Consommation des Ménages</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">PARC-LOGEMENTS (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">POPULATION-STRUCTURE (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">SERIES_BDM (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">SERIES_LOYERS (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">SMIC-COTISATIONS (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">SUIVI-DEMANDE-TOURISTIQUE (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TAUX-CHOMAGE (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-AGRICULTURE-CHEP-AGRI (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-AGRICULTURE-EXP-AGRI (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-AGRICULTURE-OCC-SOL (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-AGRICULTURE-PROD-VEG (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-CONSTRUCTION-LOCAUX (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-ECONOMIE-PIB-REG (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-EDUCATION-APP-JEN (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-EDUCATION-DIPLOMES-TECHNIQUES (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-EDUCATION-ETAB-SCOL (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-EMPLOI-SALARIE-TRIM (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-ESTIMATIONS-POPULATION(Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SALAIRES-REVENUS-REVENUS-MEN (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SALAIRES-REVENUS-REV-SAL-SEXE-CS (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SALAIRES-REVENUS-STRUCTURE-RDB (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SALAIRES-REVENUS-TAUX-PAUVRETE-AGE (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SALAIRES-REVENUS-TNB(Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SANTE-ACCUEIL-PERS-AGEES (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SANTE-CAUSES-DECES (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SANTE-PERSONNELS (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SERVICES-TOURISME-TRANSPORTS-IMM-VN (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-SERVICES-TOURISME-TRANSPORTS-IMM-RR (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-TRAVAIL-EMPLOI-EFF-FP-RATIO (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-TRAVAIL-EMPLOI-EFF-FPH (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-TRAVAIL-EMPLOI-EFF-FPT (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TCRED-TRAVAIL-EMPLOI-TCHOM-SA (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TOURISME-FRANCE-METHODE-REDRESSEMENT-2019 (Dataflow = FR1,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">TRANSPORTS (Dataflow = FR1,TRANSPORTS,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">VOV-2015-COMMERCE (Dataflow = FR1,VOV-2015-COMMERCE,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">CPI (Dataflow = IMF,CPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">EMP (Dataflow = IMF,EMP,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">FSI (Dataflow = IMF,FSO,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">CGD (Dataflow = IMF,CGD,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">CGO (Dataflow = IMF,CGO,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">IND (Dataflow = IMF,IND,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">MET (Dataflow = IMF,MET,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">NAG_GNA (Dataflow = IMF,NAG_GNA,1.5)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">POP (Dataflow = IMF,POP,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">PPI (Dataflow = IMF,PPI,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">UEM (Dataflow = IMF,UEM,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">WOE (Dataflow = IMF,WOE,1.0)</a>
                        <a class="dropdown-item" href="http://localhost:5000/bdm/">STES (Dataflow = OECD,STES,3.1)</a>
                    </div>
                </li>
                <!--Dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Données locales
                    </a>
                    <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:5000/filosofi/filosofi">FiLoSoFi</a>
                        <a class="dropdown-item" href="http://localhost:5000/filosofi/filosofizones">FiLoSoFi - Zones</a>
                        <a class="dropdown-item" href="http://localhost:5000/filosofi/filosofideclarations">FiLoSoFi - Déclarations</a>
                        <a class="dropdown-item" href="http://localhost:5000/flores/floresna17">Flores N17</a>
                        <a class="dropdown-item" href="http://localhost:5000/population/population">Population légale</a>
                        <a class="dropdown-item" href="http://localhost:5000/etatcivil/etatcivil">Etat-Civil</a>
                        <a class="dropdown-item" href="http://localhost:5000/ree/ree">Répertoire des Entreprises et des Etablissements</a>
                        <a class="dropdown-item" href="http://localhost:5000/tourisme/etoile">Nombre d'étoiles d'un hébergement touristique</a>
                        <a class="dropdown-item" href="http://localhost:5000/tourisme/hebergement">Hébérgement touristique</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Recensement de la population
                    </a>
                    <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:5000/">Logement</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Emploi</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Couples - Familles - Ménages</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Diplôme - Formation</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Emploi - Population active</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Evolution et structure de la population</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Géographie administrative
                    </a>
                    <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/aireattraction">Aire d'attraction des villes</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/arrondissement">Arrondissements</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/arrondissementsmunicipaux">Arrondissements municipaux</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/bassinsdevie">Bassins de vie</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/collectivitesoutremer">Collectivité d'Outre-Mer</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/communes">Commune</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/departements">Département</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/district">District</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/intercommunalites">Intercommunalité</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/pays">Pays</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/regions">Région</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/unitesurbaines">Unité Urbaine</a>
                        <a class="dropdown-item" href="http://localhost:5000/metadonnees/zonesemplois">Zone d'emploi</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000">Frontoffice</a>
                </li>
            </ul>
        </div>
    </div>
</nav>