<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <h2 class="navbar-brand h4 mb-0">APIs externes</h2>
        <button class="navbar-toggler" style="color:#FFF;">
            <span class="navbar-toggle-icon" style="color:#FFF;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/metadonnees/concepts">Concepts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/sirene/sirene">SIRENE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/sirene">BDM</a>
                </li>
                <!--Dropdown-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Données locales
                    </a>
                    <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:5000/filosofi/filosofi">FiLoSoFi</a>
                        <a class="dropdown-item" href="http://localhost:5000/filosofi/filosofizones">FiLoSoFi - Zones</a>
                        <a class="dropdown-item" href="http://localhost:5000/filosofi/filosofideclarations">FiLoSoFi - Déclarations</a>
                        <a class="dropdown-item" href="http://localhost:5000/flores/floresna17">Flores N17</a>
                        <a class="dropdown-item" href="http://localhost:5000/population/population">Population légale</a>
                        <a class="dropdown-item" href="http://localhost:5000/etatcivil/etatcivil">Etat-Civil</a>
                        <a class="dropdown-item" href="http://localhost:5000/ree/ree">Répertoire des Entreprises et des Etablissements</a>
                        <a class="dropdown-item" href="http://localhost:5000/tourisme/etoile">Nombre d'étoiles d'un hébergement touristique</a>
                        <a class="dropdown-item" href="http://localhost:5000/tourisme/hebergement">Hébérgement touristique</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Recensement de la population
                    </a>
                    <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:5000/">Logement</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Emploi</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Couples - Familles - Ménages</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Diplôme - Formation</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Emploi - Population active</a>
                        <a class="dropdown-item" href="http://localhost:5000/">Evolution et structure de la population</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" 
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Géographie administrative
                    </a>
                <div class="dropdown-menu" aria-labelledbt="navbarDropdown">
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/aireattraction">Aire d'attraction des villes</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/arrondissement">Arrondissements</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/arrondissementsmunicipaux">Arrondissements municipaux</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/bassinsdevie">Bassins de vie</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/collectivitesoutremer">Collectivité d'Outre-Mer</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/communes">Commune</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/departements">Département</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/district">District</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/intercommunalites">Intercommunalité</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/pays">Pays</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/regions">Région</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/unitesurbaines">Unité Urbaine</a>
                    <a class="dropdown-item" href="http://localhost:5000/metadonnees/zonesemplois">Zone d'emploi</a>
                </div>
                </li>
            </ul>
        </div>
    </div>
</nav>